*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
output*
test*

models_huggingface/CogVideoX-5b
datasets/Disney-VideoGeneration-Dataset
finetune/cogvideox-lora-single-node
finetune/datasets/Disney-VideoGeneration-Dataset
finetune/wandb
trash/models_huggingface/CogVideoX-5b


#<RP Default Gitignore Start>
*.pyc
*.swo
*.swp
*.un~
*.DS_Store
#<RP Default Gitignore End>

*.safetensors
*.mp4
finetune/cogvideox2b-lora-single-node-delegator-noisewarp-Oct15
finetune/cogvideox2b-lora-single-node-delegator-noisewarp-Oct16-RandomDegradation-LargerBatchSize
finetune/cogvideox2b-lora-single-node-delegator-noisewarp-Oct16-RandomDegradation-LargerBatchSize-SmallLearnRate
finetune/cogvideox5b-lora-single-node-delegator-noisewarp-Oct15
finetune/cogvideox5b-lora-single-node-delegator-noisewarp-Oct16/checkpoint-200
finetune/cogvideox5b-lora-single-node-delegator-noisewarp-Oct16-RandomDegradation
finetune/cogvideox5b-lora-single-node-delegator-noisewarp-Oct16-RandomDegradation-LargerBatchSize
finetune/cogvideox5b-lora-single-node-delegator-noisewarp-Oct16-RandomDegradation-LargerBatchSize-SmallLearnRate
finetune/cogvideox5b-lora-single-node-delegator-noisewarp-Oct16-RandomDegradation-LargerBatchSize-SmallLearnRate-LORA4096-0Degrad/checkpoint-200
finetune/cogvideox5b-lora-single-node-delegator-noisewarp-Oct16-RandomDegradation-LargerBatchSize-SmallLearnRate-LORA512-0Degrad

finetune/cogvideox*
